html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Helvetica', sans-serif;
  color: white;
}


section.screen{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

section.screen.show{
  display: block;
}


/* Intro */
section#intro{
  background: url('/home-screen.png') no-repeat center center;
  background-size: contain;
}


/* Countdown */
section.screen#countdown video{
  width: 100%;
}



/* Rock Out */
section#rock-out{
  background: url('/rock-out.png') no-repeat center center;
  background-size: contain;
}



/* Rock Out */
section#done{
  background: url('/end-share.png') no-repeat center center;
  background-size: contain;
}


/* Song Selection */
#song-selector .song{
  width: 100%;
  height: 100%;
  -webkit-transition: .25s ease-out all;
  -webkit-transform: scale(0);
  position: absolute;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#song-selector .song.selected{
  opacity: 1;
  -webkit-transform: scale(1);
}

.song.sabotage{
  background-image: url('/song-selections/01_BeastieBoys_Static.png');
}
.song.barracuda{
  background-image: url('/song-selections/02_Heart_Static.png');
}
.song.paradise{
  background-image: url('/song-selections/03_GNR_Static.png');
}
.song.crazy{
  background-image: url('/song-selections/04_Prince_Static.png');
}
.song.love{
  background-image: url('/song-selections/05_Darkness_Static.png');
}
.song.rock{
  background-image: url('/song-selections/06_JJett_Static.png');
}
.song.sabotage.select{
  background-image: url('/song-selections/01_BeastieBoys_Select.png');
}
.song.barracuda.select{
  background-image: url('/song-selections/02_Heart_Select.png');
}
.song.paradise.select{
  background-image: url('/song-selections/03_GNR_Select.png');
}
.song.crazy.select{
  background-image: url('/song-selections/04_Prince_Select.png');
}
.song.love.select{
  background-image: url('/song-selections/05_Darkness_Select.png');
}
.song.rock.select{
  background-image: url('/song-selections/06_JJett_Select.png');
}
